@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


*{
    overflow-x: hidden;
    margin:0;
    padding: 0;
    font-family: "Lato", sans-serif !important;
}


p,h1,h2{
    margin: 0;
    padding: 0;
}

.cursor-pointer{
    cursor: pointer;
}


/* Navbar styling starts */
.navbar-logo{
    display: flex;
    align-items: center;
}
.logo{
    width: 120px;
    height: 100px;
    cursor: pointer;
    display: flex;
    justify-content: right;
}

.nav-left{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.navbar-number{
    display: flex;
    align-items: center;
}

.navbar-phone-logo-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.navbar-phone-logo-right p{
    margin-bottom: 0;
    font-weight: 600;
}

.margin-50{
    margin-left: 50px;
}

.font24{
    font-size: 22px !important;
}

.margin-lr-20{
    margin: 0px 80px;
    font-size: 22px !important;
}


/* Navbar styling ends */

/* banner styling starts */

.banner-img{
    max-height: 500px;
}

.p-relative{
    position: relative;
}

.p-absolute{
    position: absolute;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    top: 40%;
    left: 40%;
}

.banner-hero-style{
    background: #13274F url('https://www.ansonika.com/findoctor/img/hero_home_bg_1.svg') no-repeat center bottom;
    background-size: cover;
    
}


.banner-dimensions{
    width: 100%;
   height: 550px;
}

.banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.sukoon-text{
    font-size: 60px;
    font-weight: 700;
}

.quote-text{
    font-size: 30px;
    font-weight: 500;
}

.input-search{
    padding: 5px 20px;
    cursor: pointer;
    outline: none;
}

.search{
    padding: 0px 10px;
    background-color: #dedede;
}

/* doctors card starts */

.margin-top-60{
    margin-top: 60px;
}

.card-main-div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* consult section starts */

.consult-main-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.consult-div{
    display: flex;
    flex-direction: column;
}

.consult-p{
    font-size: 24px;
    font-weight: 700;
    margin: 0px;
}

.private-p{
    font-size: 14px;
    color: #414146;
    margin-top: 5px;
}


.specialities-btn{
    font-size: 14px;
    color: #14bef0;
    font-weight: 400;
    padding: 12px 16px;
    border: 1.5px solid #14bef0;
    background-color: #fff;
}

/* consult section card starts  */

.pregency-div{
    display: flex;
    flex-direction: column;
}

.consult-img1{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.pregnancy-p{
    font-size: 14px;
    font-weight: 700;
    color: #414146;
    margin-top: 12px;
}

.now-p{
    margin-top: 10px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    color: #14bef0;
}

.margin-top-20{
    margin-top: 20px;
}

/*  appointment  section  heading starts */
.find-p{
    font-size: 16px;
    line-height: 1.5;
    margin-top: 5px;
}


/*  */

.denist-text{
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
}

.teeth-text{
    font-size: 14px;
    color: #414146;
}

/*  */

.card-testimonial{
    margin: 0 auto;
    width: 580px;
}